/*=============================================>>>>>
= App Styles =
===============================================>>>>>*/
body {

}
.navigation {
  background: red;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
