.authform {
  .form-title{
    margin: 0 0 10px;
  }
  .form-description{
    margin: 0 0 10px;
  }
  form{
    padding: 0 0 10px;
  }
  .provider {
    margin: 4px 0;
  }
  .sublink{
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: underline;
    font-size: 14px;
  }
}
