.navigation{
  background: blue;
  ul{
    li{
      display: inline-block;
      a{
        display: block;
        padding: 15px 15px;
        &:first-child{
          padding-left: 0;
        }
      }
    }
  }
}
